<!DOCTYPE html>
<html>
<head>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
	<style>
		/*.container{
				border:2px solid blue;
				text-align:center;

				height:500px;
				width:400px;
		}
		body{
				padding:70px;
		}*/
		.formdetails{
			border:2px solid blue;
				text-align:center;

				height:550px;
				width:500px;
		}
		h1{
				margin:auto;
		}
		.row{
				height:90px;
				width:396px;
				background-color:paleturquoise;

		.main{
	padding: 40px 0;
}
.main input,
.main input::-webkit-input-placeholder {
		font-size: 11px;
		padding-top: 3px;
}

span.input-group-addon i {
		color: #009edf;
		font-size: 17px;
}

		}
</style>
</head>
<body style="background-color:powderblue;">
	 <!-- start of nav -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand" href="#" style="font-size:22px;">Pro Recuiter</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
						<a class="nav-item nav-link" href='/applicants/'  data-target="#Viewjob" style="font-size:15px;">Viewjob</a>
						<a class="nav-item nav-link" href=''  data-target="#Logout" style="font-size:15px;">Logout</a>

					</div>
				</div>
			</div>
		</nav>
    <!-- end of nav -->
    <!-- start of add jobs -->
    <!-- <div class="container">
		<div class="form-group">

              <label for="name">Role name</label>
              <input class="form-control" type="text" id="name">
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <input class="form-control" type="text" id="loc">
            </div>
              <label for="who-can-apply">who can apply</label>
              <input class="form-control" type="number" id="app">
            </div>
            <div class="form-group">
              <label for="Skills-required">Skills-required</label>
              <input class="form-control" type="text" id="skill">
            </div>
            <div class="form-group">
              <label for="salary">Salary</label>
              <input class="form-control" type="number" id="Salary">
            </div>
            <div class="form-group">
              <label for="vacancy">Vacancy</label>
              <input class="form-control" type="number" id="vacancy">
            </div>
             <div class="form-group">
              <label for="applied">Applied-by</label>
              <input class="form-control" type="text" id="app-by">
            </div>
             <div class="form-group">
              <a href="/sdashboard/" class="btn btn-primary" id='su-btn' >submit</a>
            </div>
            <!-- end of studentdetails -->
        </div> -->
				<div class="container formdetails">
				      <div class="main">
				        <div class="maincenter divmain">
				        <h5 style="padding:0;color:blue;">Add Job</h5>
				          <form class="" method="post" action="#">

				            <div class="form-group">
				              <label for="name">Role name</label>
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
				        <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
				              </div>
				            </div>

				            <div class="form-group">
				              <label for="email">Location</label>
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				                  <input type="text" class="form-control" name="email" id="age" placeholder="Enter your age"/>
				              </div>
				            </div>

				            <div class="form-group">
				              <label for="username">Who can apply</label>
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
				                  <input type="text" class="form-control" name="username" placeholder="Enter your 10th Percentage"/>
				                </div>
				            </div>

				            <div class="form-group">
				              <label for="password">Skills required</label>
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
				                  <input type="password" class="form-control" name="password" placeholder="Enter your 12th Percentage"/>
				                </div>
				            </div>

				            <div class="form-group">
				              <label for="confirm">Salary</label>
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
				                  <input type="password" class="form-control" name="confirm" placeholder="Confirm your Degree"/>
				                </div>
				            </div>
				            <div class="form-group">
				              <label for="name">Vacancy</label>
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
				        <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Course-name"/>
				              </div>
				            </div>
				            <div class="form-group">
				              <label for="name">Apply-by</label>
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
				        <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Degree aggregate"/>
				              </div>
				            </div>


				        <button type="submit">SUBMIT</button>

				          </form>
				        </div><!--main-center"-->
				      </div><!--main-->
				    </div><!--container-->

	<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="/static/js/addjobs.js"></script>

</body>
</html>
