<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	 <!-- start of nav -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand" href="#">Pro Recuiter</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
						<a class="nav-item nav-link" href=''  data-target="#Logout">Logout</a>
					</div>
				</div>
			</div>
		</nav>
				<br><br>
				<div style="float: right; margin-right: 60px; font-size: 20px;"  >
					<a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#FilterModal"><i class="fa fa-filter" aria-hidden="true" style="float: right;">  Filter</i></a>
				</div>
		<div class="container">
			<div class="row">
				<!-- start of card -->
				<div class="col-md-8">
					<div class="card">
  					<div class="card-body">
    				<div class="container" >
					<div class="row" style="padding-left: 20px">
						<div class="col-md-3">
							
						</div>
						<div class="col-md-3">
							<h4>name </h4>
							<h4>degree </h4>
						</div>
						<div class="col-md-3">
							<h4>Pragathi</h4>
							<h4>Electronics and Communication Engineer</h4>
						</div>

							<div class="col-md-3" style="text-align: justify;">
							
						</div>
								
							</div>
						</div>
 					 </div>
				</div>
				<div class="card">
  					<div class="card-body">
    				<div class="container" >
					<div class="row" style="padding-left: 20px">
						<div class="col-md-3">
							
						</div>
						<div class="col-md-3">
							<h4>name </h4>
							<h4>degree </h4>
						</div>
						<div class="col-md-3">
							<h4>Sneha V</h4>
							<h4>Computer Science Engineer</h4>
						</div>

							<div class="col-md-3" style="text-align: justify;">
							
						</div>
								
							</div>
						</div>
 					 </div>
				</div>
			</div>
			<!-- end of card -->
			<!-- start of filter -->
				

				</div>
			</div>

<!-- start of filter modal -->
 <div class="modal" id="FilterModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Minimum requirements</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="ten-marks">10th marks</label>
              <input class="form-control" type="number" id="ss-fname">
            </div>
            <div class="form-group">
              <label for="tweleth-marks">12th-marks</label>
              <input class="form-control" type="number" id="ss-lname">
            </div>
            <div class="form-group">
              <label for="degree-aggregate">Degree-aggregate</label>
              <input class="form-control" type="number" id="ss-password">
            </div>
            <div class="form-group">
              <button class="btn btn-md btn-success" id="ss-btn">Submit</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/static/js/applicants.js"></script>
<!-- end ca; -->



</body>
</html>