<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	 <!-- start of nav -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand" href="#">Pro Recuiter</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
						<a class="nav-item nav-link" href=''  data-target="#Logout">Logout</a>
					</div>
				</div>
			</div>
		</nav>
		<div class="container" style="padding: 50px">
			<div class="card" >

  		<div class="card-body">
  			<h1>Pragathi</h1>
			<h2>ECE</h2>
			<div class="row">
				<div class="col-md-3">
					<button type="button" class="btn btn-primary">Callforint</button>
				</div>
				<div class="col-md-3">
					<button type="button" class="btn btn-primary">Selected</button>
				</div>
				<div class="col-md-3">
					<button type="button" class="btn btn-primary">Rejected</button>
				</div>
				<div class="col-md-3">
					<button type="button" class="btn btn-primary">Offer</button>
				</div>
 	 </div>
	</div>
			
		</div>

		  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/static/js/eligible.js"></script>
	</body>
	</html>