<!DOCTYPE html>
<html>
<head>
	<title>Studentapp</title>
	 <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
 
</head>
<body style="background-color:powderblue;">
	<!-- start of nav -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container">
			 <a class="navbar-brand" href="#">Pro Recuiter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href=''  data-target="#Logout">Logout</a>
    			</div>
       	 	</div>
     	</div>
</nav>
	<!-- end of nav -->
	<!-- apply btn -->
	<div>
	<a href="/posting/" class="btn btn-secondary" style="float: right; margin-right:80px;margin-top: 20px;">Apply Job</a>
	<br>
</div>
<br><br>
<!-- start of cards -->
<!-- applied -->
<div class="container" style="margin-top: 20px;"  id="applied">
 
      </div>
    

	<!-- end
	of app -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="/static/js/st.js"></script>
<!-- end ca; -->
</body>

</body>
</html>