<!DOCTYPE html>
<html>
<head>
	<title>Studentapp</title>
	 <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
 
</head>
<body>
	<!-- start of nav -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container">
			 <a class="navbar-brand" href="#">Pro Recuiter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href=''  data-target="#Logout">Logout</a>
    			</div>
       	 	</div>
     	</div>
</nav>
	<!-- end of nav -->
	<!-- apply btn -->
	<div>
	<button type="button" class="btn btn-secondary" style="margin-left: 1200px; margin-top: 40px">Apply Job</button>
</div>
<br><br>
<!-- start of cards -->
<!-- applied -->
<div class="container">
  <div class="card">
      <div class="card-body">
        <h5 class="card-title" id="cdrole"></h5>
           <h6 class="card-title" id="cdrole"></h6>
			<p class="card-text" id="detail"></p>
			<h7 id="app"></h7>
        	
      </div>
    </div>
</div>
	<!-- end
	of app -->
	<br>
	<br>

	<!-- start of rejected -->
	<div class="container">
  <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>
           <h6 class="card-title" id="cdrole"></h6>
        <p class="card-text" id="detail"></p>
        <h7 id="rej"></h7>
    
      </div>
    </div>
</div>
<!-- end of rej -->
	
	<br>
	<br>

	<!-- start of call -->
	<div class="container">
  <div class="card">
      <div class="card-body">
        <h5 class="card-title" id="cdcomp"></h5>
        <h6 class="card-title" id="cdrole"></h6>

        <p class="card-text" id="detail"></p>
        <h7 id="call"></h7>
      </div>
    </div>
</div>
<!-- end ca; -->
</body>

</body>
</html>