<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
</head>
<body>
	 <!-- start of nav -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand" href="#">Pro Recuiter</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
						<a class="nav-item nav-link" href=''  data-target="#Logout">Logout</a>
            <a class="nav-item nav-link" href='/applicants/'  data-target="#Viewjob">View-applicants</a>
					</div>
				</div>
			</div>
		</nav>
		<div class="container" style="margin-top: 30px; ">
			<h2><b>Job Details</b></h2>
		</div>
		<div class="container" style="margin-top: 50px"  id="vi">
			</div>
				
					
		</div>
      </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/static/js/view.js"></script>


</body>
</html>