<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
</head>
<body>
	 <!-- start of nav -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand" href="#">Pro Recuiter</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
						<a class="nav-item nav-link" href=''  data-target="#Logout">Logout</a>
            <a class="nav-item nav-link" href='/applicants/'  data-target="#Viewjob">View-applicants</a>
					</div>
				</div>
			</div>
		</nav>
		<div class="container" style="margin-top: 30px; ">
			<h2><b>Job Details</b></h2>
		</div>
		<div class="container" style="margin-top: 50px"  id="vi">
			<div class = "card">
				<div class="card-body" >
					<div class="container" >
					<div class="row" style="padding-left: 20px">
						<div class="col-md-3">
							
						</div>
						<div class="col-md-3">
							<h4>Organization </h4>
							<h4>Role-name </h4>
							<h4>Location </h4>
							<h4>Skills_required </h4>
							<h4>Salary </h4>
							<h4>Apply_by </h4>
							<h4>Vacancy </h4>
						</div>
						<div class="col-md-3">
							<h4>Speckbit</h4>
							<h4>Front-end-developer</h4>
							<h4>Bangalore</h4>
							<h4>Html,CSS</h4>
							<h4>5/5/2019</h4>
							<h4>21000</h4>
							<h4>4</h4>
						</div>

							<div class="col-md-3" style="text-align: justify;">
							
						</div>
								
							</div>
						</div>
					</div>
					<!-- <h4>Organisation:  Speckbit</h4>
					<h4>Role-name:     Front-end developer</h4>
					<h4>Location:      Bangalore</h4>
					<h4>Skills-required: Html,Css</h4>
					<h4>Salary:       21000</h4>
					<h4>Apply-by:   3/5/2019</h4>
					<h4>Vacany:   4</h4> -->
				</div>


 
		</div>
      </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/static/js/view.js"></script>


</body>
</html>